# this is an example .env file for external instances of Revolt
BOT_TOKEN="000000000"
# if false, INSTANCE_* fields are ignored
OTHER_INSTANCE=true
# pub facing API server
INSTANCE_API_URI="https://example.com/api/"
# domain and path ONLY, WSS required
INSTANCE_WS_URI="example.com/ws/"
COMMAND_PREFIX="/"
# has to be the ID - NOT NAME
ADMIN_ROLE="000000000"
