## This is an example .env file for external Revolt comaptible instances (Non offical)

# both of these can be found in your bot's settings page https://example.com/settings/bots
BOT_TOKEN="000000000"
BOT_ID="000000000"

# this information will depend on the third party instance
OTHER_INSTANCE=true
INSTANCE_API_URI="https://example.com/api/"
INSTANCE_WS_URI="wss://example.com/ws/"

# configure the bot's prefix (e.g. "?? help")
COMMAND_PREFIX="??"

# for 'privleged' commands, users must have this role to use the bot
ADMIN_ROLE_NAME="admin"

# This information is for the ticketing system
# this category is where open tickets are stored
TICKET_CATEGORY="tickets"
# the 'start' channel is where users create new tickets from (MUST BE A PART OF TICKET_CATEGORY)
TICKET_START_CHANNEL="start"
# This is where tickets are moved to once completed (they are set to read only)
ARCHIVE_CATEGORY="Archive"
